/* Simple placeholder CSS for Lottie */
.bundle-scene {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.bundle-animation-container {
  width: 100%;
  max-width: 460px;
  height: auto;
}

.bundle-animation-container svg,
.bundle-animation-container canvas {
  width: 100% !important;
  height: auto !important;
}
